html {
  font-family: Arial, sans-serif;
  background-image: url("login.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #f9c62e;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}
